#banner {
    text-align: center;

}

.navBar {

    text-align: end;
    font-size: large;
    background-color: rgb(9, 9, 9);
}

.navBar a {
    color: white;
}

.section {
    border-style: solid;
    height: 50vh;
    padding: 20px;
}

#companyInformation {
    float: left;
}

/* .plan {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 40%;
}

.plan h2 {
    text-align: center;
} */

.paidplan {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 40%;
    border-style: dashed;
    float: left;
}

.freeplan {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 40%;
    border-style: dashed;
    float: right;

}